numpy==1.26.4
pyyaml
av==14.3.0
ftfy
bs4
beartype
timm==1.0.8
pandas==2.0.3
torchvision==0.20.1
diffusers==0.30.3
accelerate==0.32.1
pandarallel
datasets
qwen_vl_utils==0.0.11
imageio
imageio-ffmpeg
peft==0.7.1
pydantic>=2.10.4
jsonargparse[all]>=4.35.0
gpytorch
setuptools-scm==8.3.1
cmake==4.0.2
pybind11